/* 기본 설정 */
:root{
    --back-color: hsl(216, 100%, 80%);
    --main-textcolor: hsl(0, 0%, 11%);
}

/* 기본 바디 설정 */
body{
    background: var(--back-color);
    background-image: url('images/garbage.png');
    background-size: 35%;
    background-position: 90% 50%;
    background-repeat: no-repeat;
}

/* 기본 설정 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* 플라스틱 설명, 이미지 */
.boons{
    display: flex;
}

.logo-img{
    width: 7rem;
    height: 8rem;
    margin-top: 4rem;
    margin-left: 2rem;
}

.boons{
    margin-top: 8%;
    margin-left: 10%;
}

.boons h2 {
    color: var(--main-textcolor);
    text-shadow: 2px 2px 7px rgba(0,0,0,.3);
    font-size: 9rem;
    font-style: italic;
    font-weight: 100;

}

/* 방법을 알려드릴게요! */
.ex-p {
    margin-top: 3%;
    margin-left: 5%;
}

.ex-p p {
    color: var(--main-textcolor);
    margin-top: 2rem;
    background-color: #fff;
    border:1px solid #fff; 
    width: 28.6rem;
    border-radius: 3rem; 
    padding: 0.5rem;
    align-items: center;
    margin-left: 5rem;
    font-size: 1.07rem;
    font-weight: bold;
    font-style: italic;
}

/* header */
header {
    background-color: hsl(216, 100%, 68%);
}
  
nav {
  height: 3rem;
  display: flex; /* 기본값: 수평 방향 */
  justify-content: center; /* 양쪽정렬 */
  align-items: center; /* 교차축 가운데 */
}
  
nav i {
  color: #fff;
  font-size: 1.5rem; /* 아이콘 좀 크게 */
}

.ballon{
    display: none;
}

/* swipe */
.swiper-container {
    display: flex;
    height: 300px;
    border-radius:7px;
    margin-top: 5%;
 }
 .swiper-slide {
    text-align: center;
    display: flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
    align-items:center; /* 위아래 기준 중앙정렬 */
    justify-content:center; /* 좌우 기준 중앙정렬 */
 }
 .swiper-slide img {
    box-shadow:0 0 5px #555;
    border-radius: 2.5rem;
    max-width: 70%; /* 이미지 최대너비를 제한, 슬라이드에 이미지가 여러개가 보여질때 필요 */
    /* 이 예제에서 필요해서 설정했습니다. 상황에따라 다를 수 있습니다. */
 }
 .mobile-container {
    display: none;
 }

 

 /* moblie */
 @media screen and (max-width: 780px){
    body{
        background-position: 95% 10rem;
        background-size: 65%;
    }
    .boons{
        margin-left: 18%;
        margin-top: 45%;
    }
    .boons h2{
        font-size: 5rem;
        margin-top: 3rem;
    }
    .logo-img{
        width: 4.5em;
        height: 5.3rem;
        margin-top: 4.5rem;
    }
    .ex-p{
        display: none;
    }

    .ballon {
        display: block;
        position: absolute;
        top: 100px;
        left: 10%;
        width: 335px;
        height: 90px;
        background: #fff;
        color: var(--main-textcolor);
        border-radius: 100px;
        padding: 1.2rem 1.2rem 1.2rem 1.2rem;
        font-size: 1.2rem;
        font-weight: 500;
        font-style: italic;
    }
    .ballon:before {
        content: "";
        position: absolute;
        top: 95px;
        left: 40%;
        width: 23px;
        height: 23px;
        background: #fff;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
    }
    .ballon:after {
        content: "";
        position: absolute;
        top: 120px;
        left: 50%;
        width: 10px;
        height: 10px;
        background: #fff;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
    }

    .swiper-container {
        display: none;
        height: 300px;
        margin-top: 10%;
     }
     .swiper-slide {
        display: none;
     }
     .swiper-button-next, .swiper-button-prev, .swiper-pagination{
        display: none;
     }
     .swiper-slide img {
        box-shadow:0 0 5px #555;
        border-radius: 2.5rem;
        max-width: 70%; /* 이미지 최대너비를 제한, 슬라이드에 이미지가 여러개가 보여질때 필요 */
        /* 이 예제에서 필요해서 설정했습니다. 상황에따라 다를 수 있습니다. */
     }

     .mobile-container {
        display: block;
     }

     .mobile-slide1 img {
        width: 250px;
        height: 250px;
        margin-top: 20%;
        column-gap: 1rem;
        float: left;
        border-radius: 1rem;
        margin-left: 10%;
     }

     .mobile-slide2 img {
        width: 250px;
        height: 250px;
        margin-top: 20%;
        column-gap: 1rem;
        float: left;
        border-radius: 1rem;
        margin-left: 10%;
     }

 }