/* 기본 설정 */
:root{
    --back-color: hsl(216, 100%, 80%);
    --main-textcolor: hsl(0, 0%, 11%);
}
/* 기본 바디 컬러 */
body {
    background-color: var(--back-color);
}

/* 기본 설정 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
/* 플라스틱 설명, 이미지 */
.title{
    display: flex;
}

.main-box{
    display: flex;
    justify-content: center;
}

.plastic{
    margin-top: 3%;
    display: flex;
    align-items: center;
}

.plastic-explain {
    color: var(--main-textcolor);
    background-color: #fff;
    border:1px solid #fff; 
    width: 27rem;
    height: 20.8rem;
    border-radius: 3rem;
}

h2 {
    font-style: italic;
    color: var(--main-textcolor);
    margin-top: 2rem;
    margin-left: 2.1rem;
    font-size: 2rem;
    font-weight: 700;
}

.main-box p {
    margin: .8rem 2rem 2rem 2rem;
    font-weight: 500;
    line-height: 2rem;
}

.plastic-img{
    margin-left: 3rem;
    width: 15rem;
    height: 20.8rem;
}

/* 어떤 종류의 쓰레기인지 선택해주세요. */
.question-p{
    margin-left: 15%;
    margin-top: 3%;
}

.question-p p{
    color: var(--main-textcolor);
    background-color: #fff;
    border:1px solid #fff; 
    width: 19.5rem;
    border-radius: 3rem; 
    padding: 0.5rem;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
}

/* header */
header {
    background-color: hsl(216, 100%, 68%);
}
  
nav {
  height: 3rem;
  display: flex; /* 기본값: 수평 방향 */
  justify-content: center; /* 양쪽정렬 */
  align-items: center; /* 교차축 가운데 */
}
  
nav i {
  color: #fff;
  font-size: 1.5rem; /* 아이콘 좀 크게 */
}

/* swipe */
.swiper-container {
    display: flex;
    height: 280px;
    margin-top: 3%;
    border-radius:7px;
 }
 .swiper-slide {
    text-align: center;
    display: flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
    align-items:center; /* 위아래 기준 중앙정렬 */
    justify-content:center; /* 좌우 기준 중앙정렬 */
 }
 .swiper-slide img {
    box-shadow:0 0 5px #555;
    border-radius: 2.5rem;
    max-width: 70%; /* 이미지 최대너비를 제한, 슬라이드에 이미지가 여러개가 보여질때 필요 */
    /* 이 예제에서 필요해서 설정했습니다. 상황에따라 다를 수 있습니다. */
 }

.title img{
    margin-left: 1rem;
    margin-top: 1rem;
}

.m-img {
    display: none;
}


.mobile-wrapper{
    display: none;
}

/* moblie */
@media screen and (max-width: 780px){
    body{
        background-position: 95% 10rem;
        background-size: 65%;
    }
    .boons{
        margin-left: 18%;
        margin-top: 45%;
    }
    .boons h2{
        font-size: 5rem;
        margin-top: 3rem;
    }
    .logo-img{
        width: 4.5em;
        height: 5.3rem;
        margin-top: 4.5rem;
    }
    .question-p {
        display: flex;
        justify-content: center;
        margin-left: 0px;
    }

    .plastic-img{
        display: none;
    }

    .swiper-container {
        display: block;
        height: 300px;
        margin-top: 10%;
     }
     .swiper-slide {
        display: none;
     }
     .swiper-button-next, .swiper-button-prev, .swiper-pagination{
        display: none;
     }
     .swiper-slide img {
        box-shadow:0 0 5px #555;
        border-radius: 2.5rem;
        max-width: 70%; /* 이미지 최대너비를 제한, 슬라이드에 이미지가 여러개가 보여질때 필요 */
        /* 이 예제에서 필요해서 설정했습니다. 상황에따라 다를 수 있습니다. */
     }

     .m-img {
        display: block;
        display: flex;
        width: 28rem;
        height: 28rem;
        margin: 2rem auto 0;
        justify-content: center;
    }

    .mobile-container{
        display: block;
     }

     .mobile-slide1 img {
        width: 230px;
        height: 230px;
        margin-top: 5%;
        column-gap: 1rem;
        float: left;
        border-radius: 1rem;
        margin-left: 10%;
     }

     .mobile-slide2 img {
        width: 230px;
        height: 230px;
        margin-top: 10%;
        column-gap: 1rem;
        float: left;
        border-radius: 1rem;
        margin-left: 10%;
     }
    .mobile-wrapper{
        display: block;
    }
    .swiper-container{
        display: none;
    }
 }